
@{
    ViewBag.Title = "Chikitsa";
}
<style>
    body {
        background-image: url('../../Images/index.png');
        background-repeat:no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    h1
    {
        font-family: 'Baskerville Old Face';
        //font-style: oblique;
        font-size: xx-large;
        font-weight: bolder;
        color:white
    }
    h3
    {
        color:red
    }
</style>
<body>
    <div>
        <br />
        <br />
        <br />
        <h1 class="text-center"> <b></b></h1>
        <br />
        <h3 class="text-center"> <b></b></h3>
        <br />
        <br /><br /><br/>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4><b>Made in INDIA</b></h4>
    </div>

</body>
