
@{
    ViewBag.Title = "Home - Salesperson | clini-C-are";
}

<div class="container-fluid body-content">
    <br />
    <div class="container-fluid">
        <div class="col-md-4" style="float:left; width:30%; height:auto; ">
            @{ Html.RenderPartial("_MenuSalesperson");}
        </div>
        <div class="col-md-8" style="float:right; width:70%; padding-left:40px;">
            <h2 class="text-center"> Home : Salesperson </h2>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

